<p id="notice"><%= notice %></p>

<div class="jumbotron">
  <h2>Choose a school</h2>
  <h3>Click a school for more information</h3>
</div>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Image</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @institutes.each do |institute| %>
      <tr>
        <td><%= link_to institute.name, institute %></td>
        <td><%= image_tag institute.image %></td>
        <td><%= link_to 'Show', institute %></td>
        <td><%= link_to 'Edit', edit_institute_path(institute) %></td>
        <td><%= link_to 'Destroy', institute, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
  <%= paginate @institutes %>
  <%= page_entries_info @institutes %>
</table>

<br>

<%= link_to 'New Institute', new_institute_path %>
