<p id="notice"><%= notice %></p>

<div class="jumbotron">
  <h2>Choose a school</h2>
  <h3>Click a school for more information</h3>
</div>

<div class="list-group">
  <% @institutes.each do |institute| %>
    <div class="list-group-item list-group-item-action d-flex justify-content-start">
        <div class="p-2">
          <h5 class="mb-1"><%= link_to institute.name, institute %></h5>
        </div>
        <div class="ml-auto p-2">
          <%= image_tag(institute.image_url(:thumb), size: 50) if institute.image? %>
        </div>
    </div>
  <% end %>
</div>
  <%= paginate @institutes %>
  <%= page_entries_info @institutes %>
</table>

<br>

<%= link_to 'New Institute', new_institute_path %>
