<p id="notice"><%= notice %></p>

<div class="jumbotron">
  <h2>Choose a school</h2>
  <h3>Click a school for more information</h3>
</div>

<%= form_tag institutes_path, :method => 'get',:remote=>true, :id => "institutes_search" do %>
    <p>
      <%= text_field_tag :search, params[:search] %>
      <%= submit_tag "Search", :name => nil %>
    </p>
    <div id="institutes"><%= render 'institutes/institutes' %></div>
    <%= hidden_field_tag :direction, params[:direction] %>
    <%= hidden_field_tag :sort, params[:sort] %>
<% end %>


<%= link_to 'New Institute', new_institute_path if is_admin? %>




