<p id="notice"><%= notice %></p>

<div class="row">
            <div class="col-md-8">
                <div class="row">
                    <div class="col-md-10 offset-sm-2 text-left">
                        <h1><%= @institute.name %></h1>
                        <%= image_tag(@institute.image, size: "300x200") %>
                    </div>

                    <div class="col-md-10 offset-sm-2 text-left">
                        <p>
						  <strong>Description:</strong>
						  <%= @institute.description %> Information sourced from Wikipedia.com.
						</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 text-center">
                <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                    <!-- Generic Qualiflower -->
                    <ins class="adsbygoogle"
                         style="display:block"
                         data-ad-client="ca-pub-1384230975173310"
                         data-ad-slot="7974241033"
                         data-ad-format="auto"></ins>
                    <script>
                    (adsbygoogle = window.adsbygoogle || []).push({});
                    </script>
            </div>
        </div>
<div class="row">
  <div class="col-md-8">


    <p>
      <strong>Url:</strong>
      <%= @institute.suurl %>
    </p>

    <div class="list-group">
        <% @institute.courses.each do |course| %>
          <%= link_to course.title, institute_course_path(@institute, course), class: "list-group-item action" %></td>
        <% end %>
    </div>
  </div>
  <div class="col-md-4">
    <%= render partial: "comments/template", locals: {commentable: @institute, new_comment: @comment} %>
  </div>

  <%= link_to 'Edit', edit_institute_path(@institute) %> |
  <%= link_to 'Back', institutes_path %>
</div>
