<p id="notice"><%= notice %></p>

<h1>Job Categories</h1>

   <div class="tree">
      <ul>
        <% @job_categories.each do |each_major| %>
        <li>

          <span><i class="icon-folder-open"></i> Major</span> <a href=""><%= each_major.name %></a>
          <!--<a href="#"><%#= each_major.name %></a>-->

          <ul>
            <% each_major.subtree.each do |each_sub_major| %>
            <li>
              <span><i class="icon-minus-sign"></i> SubMajor</span> <%= link_to "#{each_sub_major.name}", each_sub_major %>
              <!--<a href="#"></a>-->

              <ul>
                <% each_sub_major.subtree.each do |each_minor| %>
                <li>
                  <span><i class="icon-leaf"></i> Minor</span> <%= link_to "#{each_minor.name}", each_minor %>
                  <!--<a href="#"></a>-->
                  <ul>
                    <% each_minor.subtree.each do |each_unit| %>
                        <li>
                          <span><i class="icon-leaf"></i> Unit</span> <%= link_to "#{each_unit.name}", each_unit %>
                          <!--<a href="#"><%#= each_unit.name %></a>-->
                        </li>
                    <% end %>
                  </ul>

                </li>
                  <% end %>
              </ul>
            </li>
         <% end %>
          </ul>
        </li>
        <% end %>
      </ul>
    </div>

<%= paginate @job_categories %>
<%= link_to 'New Job Category', new_job_category_path %>



<style>

</style>

<script>

    $(function () {
        $('.tree li:has(ul)').addClass('parent_li').find(' > span').attr('title', 'Collapse this branch');
        $('.tree li.parent_li > span').on('click', function (e) {
            var children = $(this).parent('li.parent_li').find(' > ul > li');
            if (children.is(":visible")) {
                children.hide('fast');
                $(this).attr('title', 'Expand this branch').find(' > i').addClass('icon-plus-sign').removeClass('icon-minus-sign');
            } else {
                children.show('fast');
                $(this).attr('title', 'Collapse this branch').find(' > i').addClass('icon-minus-sign').removeClass('icon-plus-sign');
            }
            e.stopPropagation();
        });
    });

</script>