

<%= form_for(job, :html => { multipart: true }) do |f| %>
  <% if job.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(job.errors.count, "error") %> prohibited this job from being saved:</h2>

      <ul>
      <% job.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %>
    <%= f.text_area :title %>
  </div>

  <div class="field">
    <%= f.label :image %>
    <%= f.file_field :image %>
  </div>

  <div class="field">
    <%= f.label :alternativeernative %>
    <%= f.text_field :alternativeernative %>
  </div>

  <div class="field">
    <%= f.label :description %>
    <%= f.text_area :description %>
  </div>

  <div class="field">
    <%= f.label :pay %>
    <%= f.text_field :pay %>
  </div>

  <div class="field">
    <%= f.label :hours %>
    <%= f.text_field :hours %>
  </div>

  <div class="field">
    <%= f.label :skills %>
    <%= f.text_area :skills %>
  </div>

  <div class="field">
    <%= f.label :duties %>
    <%= f.text_area :duties %>
  </div>

  <div class="field">
    <%= f.label :salary %>
    <%= f.number_field :salary %>
  </div>
    <div class="field">
      <%= f.label :working_hours %>
      <%= f.number_field :working_hours %>
    </div>
    <div class="field">
      <%= f.label :career_path %>
      <%= f.text_area :career_path %>
    </div>
    <div class="field">
      <%= f.label :related %>
      <%= f.text_area :related %>
    </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
