<%= hidden_field_tag :direction, params[:direction] %>
<%= hidden_field_tag :sort, params[:sort] %>
<table class="table">
  <thead>
  <tr>
    <th><%= sortable "Title" %></th>
    <th><%= sortable "Alternativeernative" %></th>
    <th><%= sortable "Description" %></th>
    <th><%= sortable "Pay" %></th>
    <th><%= sortable "Hours" %></th>
    <th><%= sortable "Entry" %></th>
    <th><%= sortable "Skills" %></th>
    <th><%= sortable "Salary" %></th>
    <th><%= sortable "Working_hours" %></th>
    <th><%= sortable "Career_path" %></th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>
  <% @search.results.each do |job| %>
      <tr>
        <td><%= job.title %></td>
        <td><%= job.alternativeernative %></td>
        <td><%= job.description %></td>
        <td><%= job.pay %></td>
        <td><%= job.hours %></td>
        <td><%= job.entry %></td>
        <td><%= job.skills %></td>
        <td><%= job.salary %></td>
        <td><%= job.working_hours %></td>
        <td><%= job.career_path %></td>
        <td><%#= job.institutes %></td>

        <% if is_admin? %>
            <td><%= link_to 'Show', job %></td>
            <td><%= link_to 'Edit', edit_job_path(job) %></td>
            <td><%= link_to 'Destroy', job, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
  <% end %>
  <%#= page_entries_info @locations %>
  </tbody>
</table>


<br>
<%= paginate @search.results %>

