<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @job.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @job.description %>
</p>

<p>
  <strong>Image:</strong>
  <%= @job.image %>
</p>

<p>
  <strong>Alternativeernative:</strong>
  <%= @job.alternativeernative %>
</p>

<p>
  <strong>Pay:</strong>
  <%= @job.pay %>
</p>

<p>
  <strong>Hours:</strong>
  <%= @job.hours %>
</p>

<p>
  <strong>Entry:</strong>
  <%= @job.entry %>
</p>
<p>
  <strong>Skills:</strong>
  <%= @job.skills %>
</p>
<p>
  <strong>Working_hours:</strong>
  <%= @job.skills %>
</p>
<p>
  <strong>Career path:</strong>
  <%= @job.career_path %>
</p>
<p>
  <strong>Related:</strong>
  <%= @job.related %>
</p>
<%= render partial: "comments/template", locals: {commentable: @job, new_comment: @comment} %>

<%= link_to 'Edit', edit_job_path(@job) %> |
<%= link_to 'Back', jobs_path %>
