<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @job.title %>
</p>

<p>
  <strong>Pubukprn:</strong>
  <%= @job.pubukprn %>
</p>

<p>
  <strong>Ukprn:</strong>
  <%= @job.ukprn %>
</p>

<p>
  <strong>Kiscourseid:</strong>
  <%= @job.kiscourseid %>
</p>

<p>
  <strong>Kismode:</strong>
  <%= @job.kismode %>
</p>

<p>
  <strong>Comsbj:</strong>
  <%= @job.comsbj %>
</p>

<p>
  <strong>Perc:</strong>
  <%= @job.perc %>
</p>

<p>
  <strong>Order:</strong>
  <%= @job.order %>
</p>

<%= render partial: "comments/template", locals: {commentable: @job, new_comment: @comment} %>

<%= link_to 'Edit', edit_job_path(@job) %> |
<%= link_to 'Back', jobs_path %>
