<p id="notice"><%= notice %></p>

<p>
  <strong>Ukprn:</strong>
  <%= @accreditation.ukprn %>
</p>

<p>
  <strong>Pubukprn:</strong>
  <%= @accreditation.pubukprn %>
</p>

<p>
  <strong>Kiscourse:</strong>
  <%= @accreditation.kiscourse %>
</p>

<p>
  <strong>Accurl:</strong>
  <%= @accreditation.accurl %>
</p>

<p>
  <strong>Acctext:</strong>
  <%= @accreditation.acctext %>
</p>

<p>
  <strong>Acctype:</strong>
  <%= @accreditation.acctype %>
</p>

<p>
  <strong>Kismode:</strong>
  <%= @accreditation.kismode %>
</p>

<p>
  <strong>Accdepend:</strong>
  <%= @accreditation.accdepend %>
</p>

<p>
  <strong>Accdependurl:</strong>
  <%= @accreditation.accdependurl %>
</p>

<%= link_to 'Edit', edit_accreditation_path(@accreditation) %> |
<%= link_to 'Back', accreditations_path %>
