<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @job_profile.title %>
</p>

<p>
  <strong>Alternativeernative:</strong>
  <%= @job_profile.alternativeernative %>
</p>

<p>
  <strong>Description:</strong>
  <%= @job_profile.description %>
</p>

<p>
  <strong>Pay:</strong>
  <%= @job_profile.pay %>
</p>

<p>
  <strong>Hours:</strong>
  <%= @job_profile.hours %>
</p>

<p>
  <strong>Entry:</strong>
  <%= @job_profile.entry %>
</p>

<p>
  <strong>Skills:</strong>
  <%= @job_profile.skills %>
</p>

<p>
  <strong>Duties:</strong>
  <%= @job_profile.duties %>
</p>

<p>
  <strong>Salary:</strong>
  <%= @job_profile.salary %>
</p>

<p>
  <strong>Working hours:</strong>
  <%= @job_profile.working_hours %>
</p>

<p>
  <strong>Career path:</strong>
  <%= @job_profile.career_path %>
</p>

<p>
  <strong>Related:</strong>
  <%= @job_profile.related %>
</p>

<%= link_to 'Edit', edit_job_profile_path(@job_profile) %> |
<%= link_to 'Back', job_profiles_path %>
