<p id="notice"><%= notice %></p>

<p>
  <strong>Ukprn:</strong>
  <%= @location.ukprn %>
</p>

<p>
  <strong>Name:</strong>
  <%= @location.name %>
</p>

<p>
  <strong>Lat:</strong>
  <%= @location.lat %>
</p>

<p>
  <strong>Long:</strong>
  <%= @location.long %>
</p>

<p>
  <strong>Locid:</strong>
  <%= @location.locid %>
</p>

<p>
  <strong>Locukprn:</strong>
  <%= @location.locukprn %>
</p>

<p>
  <strong>Loccountry:</strong>
  <%= @location.loccountry %>
</p>

<p>
  <strong>Privatelower:</strong>
  <%= @location.privatelower %>
</p>

<p>
  <strong>Privateupper:</strong>
  <%= @location.privateupper %>
</p>

<p>
  <strong>Suurl:</strong>
  <%= @location.suurl %>
</p>

<p>
  <strong>Accomurl:</strong>
  <%= @location.accomurl %>
</p>

<p>
  <strong>Instbeds:</strong>
  <%= @location.instbeds %>
</p>

<p>
  <strong>Instlower:</strong>
  <%= @location.instlower %>
</p>

<p>
  <strong>Instupper:</strong>
  <%= @location.instupper %>
</p>

<p>
  <strong>Institute:</strong>
  <%= @location.institute %>
</p>

<%= link_to 'Edit', edit_location_path(@location) %> |
<%= link_to 'Back', locations_path %>
