<nav class="navbar navbar-toggleable-md navbar-light bg-faded">
	<button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
	    <span class="navbar-toggler-icon"></span>
	</button> 
	    <%= link_to "Qualiflower", root_path, class: "navbar-brand" %>

	<div class="collapse navbar-collapse" id="navbarSupportedContent">
	    <ul class="navbar-nav mr-auto">
	        <li class="nav-item">
	        	<%= link_to "Courses", courses_path, class: "nav-link" %>
	        </li>
	        <li class="nav-item">
	        	<%= link_to "Schools", institutes_path, class: "nav-link" %>
	        </li>
	        <li class="nav-item">
	        	<%= link_to "Careers", jobs_path, class: "nav-link" %>
	        </li>
	        <li class="nav-item">
	        	<a href="/funding/" class="nav-link">Funding</a>
	        </li>
	    </ul>
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="text" placeholder="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>                     
        </form>
        <ul class="navbar-nav mr-auto">
        	<% if user_signed_in? %>
	        	<li><%= link_to "Edit profile", edit_user_registration_path, class: "nav-link" %></li>
	        	<li><%= link_to "Sign out", destroy_user_session_path, class: "nav-link", method: :delete %></li>
	        <% else %>
        		<li><%= link_to "Sign in", new_user_session_path, class: "nav-link" %></li>
        		<li><%= link_to "Sign up", new_user_registration_path, class: "nav-link" %></li>
        	<% end %>        	
    </div>
</nav>