<!DOCTYPE html>
<html lang="en">
  <%= render 'layouts/head' %>
  <%= csrf_meta_tags %>
  <body>
  <%= render 'layouts/navbar' %>
  <div class="container-fluid">
    <% flash.each do |name, message| %>
      <div class="<%= flash_class(name) %> alert-dismissable">
        <button type="button" class="close" data-dismiss="alert">
          <span aria-hidden="true">&times;</span>
          <span class="sr-only">Close</span>
        </button>
        <%= content_tag :div, message, :id => "flash_#{name}" %>
      </div>
    <% end %>
    <%= yield %>
  </div>
  </body>

  <%= render :partial=>"devise/sessions/login_modal" %>
  <%= render :partial=>"devise/registrations/registration_modal" %>

  <%= render 'layouts/footer' %>
  <ul class="nav float-right scroll-top">
    <li class="nav-item"><a href="#section1" title="Scroll to top" class="nav-link"><i class="glyphicon glyphicon-chevron-up"></i></a>
    </li>
  </ul>
</html>
