<!DOCTYPE html>
<html>
  <head>
    <title>Qualiflower</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <%= render 'layouts/navbar' %>
    <%= yield %>
  </body>
  <%= render 'layouts/footer' %>
  <ul class="nav float-right scroll-top">
    <li class="nav-item"><a href="#section1" title="Scroll to top" class="nav-link"><i class="glyphicon glyphicon-chevron-up"></i></a>
    </li>
  </ul>
</html>
